<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Library</title>
</head>

<body>
    <header>header comes here</header>
    <%- body %>

        <footer>footer comes here</footer>
</body>

</html>