<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" value="<%=author.name%>">
</div>
<div>
    <label for="age">Age</label>
    <input type="number" name="age" id="age" placeholder="Age" value="<%=author.age%>">
</div>